.map_slideout_panel {width: calc(100% - 80px);margin: 0 auto;max-width: 1380px;position: relative;}
.col.contactFormWrapper {
    background: #FFFFFF;
    border: 1px solid #e0b300!important;
    width: 465px;
    float: left;
    display: inline-block;
    margin-left: 100px;
}

.row.contacT_content_width {
    max-width: 1180px;
    width: calc(100% - 60px);
    margin: 0 auto;
    margin-bottom: 42px;
}

.row.contacT_content_width:after {
    clear: both;
    content: '';
    display: table;
}
.map_slideout_panel .info span {
    font-size: 10px;
    margin-top: -4px;
    display: block;
    color: #e0b300!important;
    font-weight: bold;
}
h1.content_main_header_text {
    max-width: 1180px;
    width: calc(100% - 60px);
    margin: 0 auto;
    margin-top: 32px;
    color: rgba(17,12,14,0.4);
    text-transform: uppercase;
    font-size: 38px;
    padding-right: 0;
    line-height: 51px;
    font-weight: 300;
    letter-spacing: 2px;
    text-align: left;
    margin-bottom: 8px;
    text-rendering: optimizelegibility;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    margin-bottom: 36px;
}

h1.content_main_header_text icon {
    width: 37px;
    height: 37px;
    display: inline-block;
    transform: rotate(45deg);
    background-color: #e0b300!important;
    background-image: url(../assets/img/geo_pattern.png);
    background-size: 34px 34px;
    background-repeat: repeat;
    background-position: center center;
    box-shadow: 1px 2px 2px rgba(179, 179, 179, 0.39),-1px -1px 1px rgba(179, 179, 179, 0.31);
    margin-right: 23px;
    position: relative;
    top: 3px;
}

.col.copybranding {
    width: calc(100% - 570px);
    float: right;
    padding-left: 65px;
    padding-right: 20px;
    padding-top: 33px;
}

.green_emph_box {
    padding: 23px 28px;
    position: relative;
}

.green_emph_box > h4 {
    position: absolute;
    top: -13px;
    text-align: center;
    left: 50%;
    width: 133px;
    margin-left: -61px;
    font-weight: 100;
    font-size: 15px;
    letter-spacing: 1px;
    padding-left: 8px;
    padding-right: 8px;
    font-family: 'Univers', Arial, sans-serif;
    display: block;
    height: 26px;
    color: #e0b300!important;
    text-transform: uppercase;
    background: #FFFFFF;
}

.green_emph_box form input,.green_emph_box form textarea {
    width: 100%;
    background: #fafafa;
    border: 1px solid #eaeaea;
    border-radius: 1px;
    height: 40px;
    text-align: left;
    outline: none;
    line-height: 40px;
    color: #110c0e;
    font-size: 16px;
    margin-bottom: 16px;
    padding: 0 11px;
}

.green_emph_box {}

.green_emph_box form label {
    text-transform: uppercase;
    color: #110c0e;
    letter-spacing: .08em;
    font-size: 14px;
    margin-bottom: 3px;
    display: block;
}

.green_emph_box form label span {
    color: #b32234;
    font-family: genath;
    position: relative;
    top: -3px;
}

.green_emph_box form textarea {
    resize: none;
    height: 120px;
    margin-top: 1px;
    font-size: 14.5px;
}

.green_emph_box form input.primaryBtn {
    background: #e0b300!important;
    color: #FFFFFF;
    border: 0;
    border-radius: 5px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    height: 50px;
    letter-spacing: .6px;
    line-height: 51px;
    cursor: pointer;
}

.green_emph_box form input:focus, .green_emph_box form textarea:focus {
    background: #FFFFFF;
}

.col.copybranding h4 {
    text-transform: uppercase;
    letter-spacing: .06em;
    font-weight: 100;
    color: #110c0e;
    font-size: 14px;
    margin-bottom: 8px;
    margin-top: 15px;
    line-height: 20px;
}

.copyBranding p.diamond_bullet {}

.copybranding p.diamond_bullet {
    padding-left: 16px;
    padding-bottom: 11px;
    position: relative;
    font-weight: 100;
    letter-spacing: .01em;
    color: rgb(17, 12, 14);
    line-height: 23px;
}

p.diamond_bullet {}

.copybranding p.diamond_bullet:before {content: '';position: absolute;left: 0;width: 6px;height: 6px;background: #babbbf;transform: rotate(45deg);top: 9px;}

.row.row_of_3:after {
    clear: both;
    content: '';
    display: table;
}

.map_slideout_panel .info {
    position: absolute;
    background: #FFFFFF;
    z-index: 10;
    height: auto;
    left: 10px;
    padding-left: 32px;
    min-height: 120px;
    padding-top: 16px;
    padding-right: 32px;
    padding-bottom: 16px;
    text-align: center;
}

.contact_options .row_of_2>div {
    width: 33.3333%;
    display: inline-block;
    float: left;
    position: relative;
    height: 113px;
    padding-top: 0;
}

.col.contact_option_phone icon {
    background-image: url(../assets/img/phone_icon_contact_page.png);
}

.col.contact_option_chat icon {
    background-image: url(../assets/img/chat_icon_contact_page.png);
    opacity: .4;
}

.col.contact_option_email icon {
    background-image: url(../assets/img/mail_icon_contact_page.png);
    opacity: .4;
    margin-top:2px;
}

.row.row_of_2:after {
    clear: both;
    content: '';
    display: table;
}

.contact_options > .row.row_of_2 {
    width: 400px;
    margin-top: 11px;
    display: block;
    text-align: center;
}

.contact_options .col h3 {
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 100;
    letter-spacing: .08em;
    color: rgba(17, 12, 14, 0.4);
}
.contact_options .col a{
    text-decoration: none;
}
.copybranding p.diamond_bullet span {
    display: block;
    font-size: 12px;
    padding-right: 59px;
    line-height: 17px;
    padding-left: 19px;
    padding-top: 4px;
    margin-bottom: 0px;
    max-width: 390px;
    color: rgba(17, 12, 14, 0.7);
}
.contact_options .row_of_2>div icon {
    width: 44px;
    height: 44px;
    background-size: contain;
    display: block;
    position: absolute;
    top: 50%;
    background-repeat: no-repeat;
    text-align: Center;
    left: 50%;
    transform: translate(-50%,-50%);
}
.map_slideout_panel iframe {
    pointer-events: none;
}
.contact_options .row_of_2>div icon span {
    position: absolute;
    left: 50%;
    text-align: Center;
    transform: translate(-50%,-50%);
    font-size: 14px;
    top: 50%;
    background: rgba(243, 243, 243, 0.73);
    color: rgba(17, 12, 14, 0.5);
}

.map_slideout_panel .info p {
    text-align: center;
    font-family: genath;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #e0b300!important;
    display: inline-block;
    border-bottom: 1px solid #e0b300!important;
    margin-bottom: 13px;
}

.map_slideout_panel .info h2 {
    font-weight: 100;
    color: #110c0e;
    font-size: 21px;
    margin-bottom: 9px;
    margin-top: 11px;
}

.info {}

@media screen and (max-width:1080px){
    .col.copybranding{
    width: 100%;
    display: block;
    float: none;
    max-width: 690px;
    margin: 0 auto;
}
    .col.contactFormWrapper{
    width: 100%;
    margin: 0 auto;
    max-width: 690px;
    display: block;
    float: none;
}
}