



body {
    font-family: 'Calibre', sans-serif;
    font-weight: bold;
    margin: 0;
}

/*  =============  GENERAL  ==============  */

/*Header*/
header {
  background-size: cover;
  background-image: url('../assets/img/header.jpg');
  padding: 50px;
  text-align: center;
  background-color: black;
}

header img {
  height: 130px;
}

h1 {
  color: white;
  font-size: 63px;
  font-weight: 600;
}

h2 {
  color: white;
  font-size: 35px;
  letter-spacing: 4px;
}

h3 {
  font-weight: lighter;
  font-size: 29px;
  color: white;
}

p {
  font-size: 38px;
  color: white;
  font-weight: lighter;
  line-height: 1.7;
}

aside.home_click {
  right: 65px;
  top: 80px;
  display: none;
  z-index: 1;
  position: fixed;
  padding: 34px 50px;
  text-align: center;
  z-index: 2;
}

aside.home_click img {
  height: 68px;
}

aside.home_click h3 {
  margin-bottom: 0px;
  margin-top: 22px;
  color: #E9D66B;
}

.button {
  background-color: #171717;
  padding: 45px 50px;
  margin-bottom: 46px;
  font-size: 31px;
  color: white;
  text-decoration: none;
  font-weight: bold;
  outline: none;
  border: none;
  text-align: center;
}

.logo_button {
  display: flex;
  height: 420px;
  width: 420px;
  background: #241f20;
  border: 6px solid #0195da;
  border-radius: 100%;
  justify-content: center;
  align-items: center;
  font-size: 70px;
  font-weight: bold;
  color: #bcbdbf;
  transition: transform .5s;
}

.reverse {
  background-color: white;
  color: black;
}

.gif_info {
  display: none;
  color: black;
  position: absolute;
  width: 100%;
  text-align: center;
  margin: 0;
  top: 248px;
  font-weight: bold;
  font-size: 34px;
  letter-spacing: 2px;
}

.next {
  display: none;
  width: 241px;
  background-color: black;
  color: white ;
  text-align: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 150px;
  z-index: 3;
}

form {
  margin-top: 107px;
}

input.input {
  display: inline-block;
  width: 83%;
  padding: 54px;
  background: transparent;
  border: 2px solid white;
  font-size: 40px;
  font-weight: normal;
  margin-bottom: 48px;
  outline: none;
  color: white;
  transition: border .5s;
}

input.input::placeholder {
  color: rgba(255, 255, 255, 0.62);
  font-weight: lighter;
}

input.input:focus {
  border: 4px solid white;
}

.share_overlay {
  display: none;
  background-color: black;
  height: 1920px;
  width: 100%;
  position: absolute;
  top: 0px;
      z-index: 2;
}

.share_overlay input.input {
  display: block;
}

#share_alert, #donation_alert {
  background-color: white;
  display: none;
  position: absolute;
  bottom: 0;
  height: 1920px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  text-align: center;
  z-index: 7;
}

#share_alert p {
  font-size: 33px;
  letter-spacing: 3px;
}

#share_alert h3, #donation_alert h3 {
  font-size: 79px;
  color: black;
  font-weight: normal;
  margin-bottom: 10px;
  font-weight: 800;
  margin-top: 0;
  letter-spacing: 2px;
}

#share_alert p, #donation_alert p {
  color: black;
  margin-top: 0;
  letter-spacing: 4px;
}

#done {
  position: absolute;
  right: 133px;
  top: 620px;
}



/* ================  HOME  =================*/
.home {
  height: 1920px;
  width: 1080px;
  overflow-x: hidden;
  position: relative;
}

.welcome {
  position: absolute;
  top: 750px;
  display: none;
  font-weight: normal;
  letter-spacing: 3px;
  font-size: 55px;
  color: white;
  width: 100%;
  font-weight: bold;
  text-align: center;
}

.footer {
  display: none;
}

.background-image {
  background-size: cover;
  background-position: -1292px 0;
  background-image: url('../assets/img/logo_big.jpg');
  position: fixed;
  height: 1920px;
  width: 1080px;
  opacity: 0;
  z-index: -1;
  transition: opacity 3s;
}

canvas img {
  margin: auto;
}

.photos {
  background-position: center;
  height: 1490px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-size: cover;
}

.multiply {
  /*background-color: #00254c;*/
  background-blend-mode: multiply;
}

.photos img.logo {
  height: 400px;
  position: absolute;
  margin-top: -670px;
  transition: margin-top 3s;
}

.holiday {
  width: 83%;
  position: absolute;
  top: 506px;
  height: auto !important;
}

#photos {
  transition: opacity 1s, height .5s, background-color 2s;
}

.photos img {
  padding: 45px 50px;
  height: 90px;
}

.lincoln_logo {
    position: absolute;
    top: 171px;
    left: 50%;
    transform: translateX(-50%);
    transition: margin 1s, height 1s;
    z-index: 100;
}

.opener {
  background-image: url('../assets/img/logo_big.jpg');
  background-size: cover;
  background-position: -1292px 0;
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
}

.lincoln_logo.top_left {
  display: none;
  left: 0;
}

.lincoln_logo img {
  height: 250px;
  transition: height 1s;
}

.active_lincoln {
    margin-top: -148px;
}

.small {
  height: 166px !important;
}

#slider, .slide_pic, .slide {
  width: 100%;
  height: 100%;
}

#slider {
  overflow: hidden;
}

.slide {
  position: absolute;
  top: 230px;
  height: 985px;
  display: none;
  width: 100%;
  font-size: 200px; color: white; text-align: center;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.slide img {
  height: 1080px;
  width: 1080px;
  padding: 0;
}

.slide_pic {
  position: absolute;
  height: 1080px;
}

.pic_one {
  background-size: cover;
  background-image: url('../assets/img/home_photo.jpg');
}

.pic_two {
  background-size: cover;
  background-image: url('../assets/img/home_photo2.jpg');
}

.pic_three {
  background-size: cover;
  background-image: url('../assets/img/home_photo3.jpg');
}

.pic_four {
  background-size: cover;
  background-image: url('../assets/img/home_photo4.jpg');
}

.photos .button {
  position: absolute;
  margin-top: -187px;
  -webkit-animation: bounce 4s infinite ease-in-out;
  height: 39px;
}

@-webkit-keyframes bounce {
  20%, 80%  { -webkit-transform: translateY(0); }
    
  50% { -webkit-transform: translateY(-10px); }
}

#choose_picture {
  left: 346px;
  width: 280px;
  display: none;
}

#choose_gif {
  right: 115px;
  width: 280px;
  text-align: center;
  display: none;
}


.donate {
  background-size: cover;
  background-image: url('../assets/img/donate.png');
  background-position: -1292px 200px;
  background-color: #E9D66B;
  height: 337.5px;
  width: 100%;
  margin-bottom: 10px;
  transition: opacity 1s, height .5s;
}

span.currencyinput {
  position: relative;
  font-size: 60px;
  color: rgba(255, 255, 255, 0.61);;
  left: 54px;
  top: -382px;
  transition: color .5s;
}

input.donateinput {
  padding-left: 114px;
  width: 76.5%;
}

.inner_content {
  display: none;
  width: 100%; height: 100%;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.inner_content .logo_button:nth-child(1) {
  margin-bottom: 150px;
}

#event_images {
  margin-bottom: 150px;
}

.shrunk {
  transform: scale(.5);
  position: fixed;
  top: -54px;
  left: 4px;
  /*font-size: 40px;*/
}

.container {
  margin: auto;
  padding: 100px;
  width: 880px;
  /*top: 230px;*/
    position: relative;
}

.event_pics {
  display: none;
  position: absolute;
  bottom: 4px;
  transition: height .5s;
  width: 100%;
  padding: 40px 0;
  transition: height .5s;
}

.logos {
 top: 315px;
 height: 0;
 transition: height .5s;
 background-color: white;
 top: 0;
}

.logos .slick-slide {
  opacity: 0;
  height: 315px;
  display: flex !important;
  justify-content: center;
  align-items: center;
  transition: opacity .3s;
}

.no_slider_click {
  width: 100%;
  position: absolute;
  height: 500px;
  top: 500px;
}

.logos .slick-prev, .logos .slick-next {
  display: none !important;
}

.logos .slick-list {
  overflow: visible;
}

.logos div {
  text-align: center;
}

.logos img {
  max-width: 400px !important;
  margin: auto;
  max-height: 210px;
  width: auto;
  width: auto !important;
}

.event_pics h2 {
  color: black;
  text-align: center;
}

.event_pics .overlay {
  position: absolute;
}

.event_pic {
  position: relative;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 auto;
  margin-top: 69px;
  height: 1200px;
  width: 900px;
}

.display_gifs .event_pic {
  width: 600px;
  height: 800px;
}

.overlay {
  background-color: #241f20bf;
  width: 100%; height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /*transition: background-color .3s;*/
}

.active {
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  position: fixed;
  bottom: 0;
  margin-bottom: 0;
}



/* ================  PHOTOS  =================*/
.camera_button {
  display: none;
  position: absolute;
  top: 452px;
}

.countdown {
  font-size: 0px;
  position: absolute;
  color: white;
  top: 60%;
  transform: translateY(-30%);
  -webkit-transition: font-size .7s ease;
  -moz-transition: font-size .7s ease;
  -o-transition: font-size .7s ease;
  transition: font-size .7s ease;
}

.flash {
  display: none;
  background: yellow;
  height: 1920px;
  width: 100%;
  position: absolute;
  bottom: 0;
  background: white;
  transition: background-color 1s;
}

.pic_text, .gif_text {
  display: none;
  color: black !important;
  position: absolute;
  top: 362px;
  font-size: 39px;
  letter-spacing: 2px;
  width: 100%;
  text-align: center;
  color: white;
  font-weight: bold;
}

#video, #pictures, #pictures .canvas_holder {
  display: none;
}

.draw_ctl {
  display: none;
  position: absolute;
  z-index: 2;
  top: 229px;
  left: 45%;
  padding: 20px;
}



#pen {
  display: none;
  width: 100px;
  width: 85px;
  position: absolute;
  z-index:2;
  padding: 20px;
  left: 45%;
  top: 200px;
  -webkit-animation: bounce 3s infinite ease-in-out;
}

@-webkit-keyframes bounce {
  40%, 60%  { -webkit-transform: translateY(0); }
    
  50% { -webkit-transform: translateY(-10px); }
}


#inverse {
  -webkit-filter:invert(1);
    -moz-filter:invert(1);
    -o-filter: invert(1);
    -ms-filter: invert(1);
    filter: invert(1);
}

.canvas_holder {
    display: inline-block;
    text-align: center;
    transition: background-color .2s;
    /*background-image: url('../assets/img/christmas_dark.png');*/
}

#drawn {
    position: absolute;
    left: 90px;
    top: 360px;
}

.gif_container {
  padding: 50px;
  width: 980px;
  padding-top: 313px;
}

.gif_container .canvas_holder {
  width: 400px;
  margin: 66px 45px;
}

.gif_container .canvas_holder img {
  width: 400px;
}

.canvas_holder img {
  box-shadow: 0px 0px 15px #00000070;
}

.gif {
  transition: outline 1s;

}

.photo {
  width: 100%;
  position: absolute;
  display: flex !important;
  justify-content: center;
  align-items: center;
  height: 1575px;
  top: 0;
  
}



.photo img, .gif_show img {
  width: 75%;
}

.photo img {
  width: 83%;
}

#draw {
  display: none;
  position: absolute;
  left: 91px;
}

#pictures img:last-child {
  position: absolute;
  left: 91px;
}

#pictures .gif_container img:last-child {
  position: relative;
  left: auto;
}

.gif_show img {
  height: 675px;
  width: 900px;
  position: relative;
  /*top: -230px;*/
}

/*#pictures .canvas {
  width: 100%;
  height: 100%;
}
*/

.colors {
  display: none;
  position: absolute;
  z-index: 4;
  top: 362px;
}

.color {
  width: 92px;
  height: 106px;
}

.sizes {
  position: absolute;
  display: none;
  top: 391px;
  right: 0;
  z-index: 4;
}

.size {
  border-radius: 100%;
  margin: 31px;
  margin-bottom: 95px;
  background-color: #c22628;
  transition: scale .2s;
}

#small {
  width: 20px; height: 20px;
}

#medium {
  width: 25px; height: 25px;
}

#large {
  width: 30px; height: 30px;
}

#huge {
  width: 35px; height: 35px;
}

.size:active {
  transform: scale(1.2);
}


#colorRed {
  background-color: #c22628;
}

#colorGreen {
  background-color: #49a463;
}
#colorBlue {
  background-color: #30b9dc;
}
#colorWhite {
  background-color: #fff;
}
#colorBlack {
  background-color: #000;
}

.fa-close {
  position: absolute;
  right: 15px;
  top: 12px;
  font-size: 56px !important;
  color: #ffffff;
  cursor: pointer;
  z-index: 100;
  background: black;
  padding: 10px 15px;
}

.fa-close.sharex {
  display: none ;
}



#pictures {
    position: relative;
    height: 1575px;
    min-height: 1575px;
    background-size: cover;
    /*background-image: url('../assets/img/christmas_dark.png');*/
}

#submit_form {
  margin-top: 360px;
}

.submit {
  display: none;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.gif_show .submit {
  left: 50%;
}

.print {
  display: none !important;
  position: absolute;
  bottom: 0;
  left: 36%;
  transform: translateX(-50%);
  z-index: 1;
}

.like {
  display: none;
  border-radius: 100%;
  height: 130px;
  width: 130px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 39%;
  background: white;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity .5s;
}

.check {
  display: inline-block;
}

.check:after{
  content: '';
  display: block;
  width: 30px;
  height: 60px;
  border: solid #ea5e28;
  border-width: 0 15px 15px 0;
  transform: rotate(45deg);
  margin-top: -18px;
}

.gif_show {
  display: none;
  height: 1920px;
  width: 100%;
  position: relative;
  justify-content: center;
  align-items: center;
  /*background-size: cover;
  background-image: url('../assets/img/christmas_dark.png');*/
}

.flex {
  display: flex !important;
}

.gif_show .gif {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0;
}

.gif_show .gif canvas {
  height: 100%;
  width: 100%;
}

#loader {
  position: absolute;
  top: 50%;
  transform: translateY(-50%); 
  width: auto;
  height: 400px;
}

.event_pics .button {
  display: none;
}

.choice h2 {
  font-size: 82px;
}

.choice {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 960px;
  opacity: 0;
  transition: opacity 1s;
}

.event_images {
  background-image: url('../assets/img/home_photo.jpg');
}

.event_gifs {
  background-image: url('https://static.wixstatic.com/media/c11316_9ccc15c96fd04386b552cadf789f303f~mv2.gif');
}

.display_images, .display_gifs {
  display: none;
  text-align: center;
  margin-top: 200px;
  text-align: center;
  margin-top: 200px;
  position: relative;
  top: 156px;
  overflow-y: auto;
  padding: 100px 0;
}

.top {
  position: fixed;
  bottom: 50px;
  right: 82px;
  padding: 20px;
}

i {
    border: solid black;
    border-width: 0 8px 8px 0;
    display: inline-block;
    padding: 12px;
}

i.fa-close {
  border: none;
}


.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.event_pics .button {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 28px;
}

.display_gifs img:last-child {
  margin-bottom: 300px;
}

.display_images img {
  width: 640px;
  height: 480px;
  margin-bottom: 100px;
  display: block;
}

.display_images img:last-child {
  margin-bottom: 300px;
}

.event_pics.active {
  height: 1920px;
  /*overflow-y: auto;*/
}
/*.orange {
  opacity: 0;
  height: 1690px;
  background-color: #E9D66B;  
  transition: opacity 1s, height 2s;
  position: absolute;
  bottom: 0;
}*/


